{% load static  %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
  
  {% comment %}
  Añadir estilos CSS
  * Esto es un comentario en DJANGO
  {% endcomment %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
  <header>
  <h1>Plantnet</h1>
  <a href="{% url 'home' %}">Home</a>
  <a href="{% url 'plants' %}">Catálogo</a>
  <a href="{% url 'about' %}">About</a>
  </header>

<!-- HOME -->
{% block elHome %}{% endblock elHome %}
{% block elContent %}{% endblock elContent %}
{% block elAbout %}{% endblock elAbout %}


</body>
<footer>
Pie de página
</footer>
</html>