{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
{% comment %} <html lang="es" class="dark"> {% endcomment %}
<html lang="es">
<head>
	<meta charset="UTF-8">
  <title>{% block title %}{% endblock title %}🌱Plantnet</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
  
  {% tailwind_css %}
  {% comment %}
  Añadir estilos CSS
  * Esto es un comentario en DJANGO
  {% endcomment %}
  {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> {% endcomment %}

</head>
<body class="bg-green-100 dark:bg-green-600 relative h-30">

<header class="bg-green-200 dark:bg-green-700">
  {% include "navbar.html" %}
</header>

<!-- CONTENEDORES -->
{% block content %}{% endblock content %}

<footer class="bg-green-200 dark:bg-green-700">
  Pie de página
</footer>

</body>
</html>