{% extends 'base.html' %}
{% load static %}
{% block title %}{{title_}}{% endblock title %}

{% block content %}
	<h1>{{title_}}</h1>
	{% for plant in plants_ %}
	<hr/>
	<img name="pImage" src="{{plant.image.url}}" class="max-w-xs stroke-3 md:stroke-2"/>
	{% comment %} NAME {% endcomment %}
	<h2 name="pName">{{plant.name}}</h2>
	<h2 name="pNameComun">{{plant.nameComun}}</h2>
	{% comment %} RIEGO Y TIERRA {% endcomment %}
	<ul>
		{% if plant.riego %}		<li>Tiego: {{plant.riego}}{% endif %}
		{% if plant.tierra %}		<li>Tipo de tierra: {{plant.tierra}}{% endif %}
	</ul>
	{% comment %} DESCRIPTION {% endcomment %}
	{% if plant.description %}
		<h3 name="pDescription">Descripción</h3>
		<p>{{plant.description}}
	{% endif %}
	{% comment %} CUIDADOS {% endcomment %}
	{% if plant.cuidados %}
		<h3 name="pCuidados">Cuidados</h3>
		<p>{{plant.cuidados}}
	{% endif %}
	{% comment %} CONSEJOS {% endcomment %}
	{% if plant.consejo%}
		<h3 name="pConsejos">Consejos</h3>
		<p>{{plant.consejos}}
	{% endif %}


	{% endfor %}
{% endblock content %}