{% extends 'base.html' %}
{% load static %}
{% block title %}{{title_}}{% endblock title %}

{% block content %}
<div class="h-screen flex-col">
	<div class="flex justify-around flex-wrap items-center
	masonry sm:masonry-sm md:masonry-md
	">
	{% for plant in plants_ %}
		<div class="
		ml-3 mr-3 my-2.5
		stroke-3 md:stroke-2 col-start-1 col-end-2 row-start-1 row-end-2
		max-w-xl md:max-w-xs
		rounded-3xl
		bg-blue-100 p-1 shadow-2xl
		delay-50 hover:scale-110 duration-100
		break-inside
		">
			<figure class="grid">
					<a href="{{ plant.name }}"    class="inline-block">
					<img 
						name="pImage" 
						src="{{plant.image.url}}" 
						class="rounded-t-3xl shadow-inner"
						alt="{{plant.nameComun}}"
					/>
					<figcaption class="col-start-1 col-end-2 row-start-1 row-end-2 self-end 
							text-white 
							p-2  pb-4 pl-5
							bg-gray-500 bg-opacity-60
							rounded-b-3xl
							shadow-inner
							hover:text-green-200
					">
						<span class="font-bold">{{plant.name}}</span><br>
						<span class="text-gray-900">{{plant.nameComun}}</span>
					</figcaption>
				</a>
			</figure>
		</div>
	{% endfor %}
	</div>
</div>
{% endblock content %}